/* Define the custom CSS class for the purple button */
.btn-purple {
    background-color: purple;
    color: white;
}

/* Optional: Customize the button appearance on hover and focus */
.btn-purple:hover, .btn-purple:focus {
    background-color: darkpurple;
    color: white;
    border-color: purple;
}
.header {
    background-color: purple;
    color: white;
    text-align: center;
}

#weatherData {
    background-color: #333;
    color: white;
    padding: 10px;
}

.weatherData div {
    margin-bottom:5px;
}

.forecast-item {
    padding: 10px;
    margin-bottom: 10px;
}